
body {
  padding-top: 5em;
  background: Cornsilk;
  font-family: Arial, sans-serif;
  text-align: center;
}

.button {
  width: 150px;
  height: 25px;
  cursor: pointer;
}

.actionBar {
  margin: 1em 0 0 0;
}

*:disabled {
  display: none;
}
