*:disabled {
  display: none;
}

body {
  padding: 3em 0 0 0;
  background: Cornsilk;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

h3::first-letter {
  text-transform: uppercase;
}

input {
  background: Cornsilk;
}

li {
  display: inherit;
  margin: 0.5em 0.5em 0.5em 0.5em;
  text-align: left;
  font-size: 12px;
}

li:nth-of-type(odd) {
  background: BurlyWood;
}

select {
  background: Cornsilk;
}

ul {
  padding-inline-end: 40px;
}

.button {
  width: 125px;
  height: 20px;
  cursor: pointer;
  background-color: chartreuse;
}

.stop-button {
  background-color: IndianRed;
 }

.tracker {
  background: NavajoWhite;
  border: 1px solid black;
  padding: 0em 1em 1em 1em;
  display: flex;
  width: 17em;
  margin: 0.5em 0 0 0;
}

.wait-list-wrapper {
  display: flex;
  justify-content: space-around;
}

.wait-list {
  margin: 1em 0 0 0;
  width: 100%;
  max-width: 33em;
  background: NavajoWhite;
  border: 1px solid black;
}

#delete-email-button {
  background-color: IndianRed;
  float: right;
  margin: -2px 0 0px 0;
}

#tracker-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 2em 0 0 0;
  flex-flow: row wrap;
}

#user-email {
  width: 14em;
}