*:disabled {
  display: none;
}

h3::first-letter {
  text-transform: uppercase;
}

body {
  padding: 3em 0 0 0;
  background: Cornsilk;
  font-family: Arial, sans-serif;
  text-align: center;
}

li {
  display: inherit;
  padding: 0.2em 0 0.2em 2em;
  text-align: left;
}

.actionBar {
  margin: 1em 0 0 0;
}

.button {
  width: 125px;
  height: 20px;
  cursor: pointer;
  background-color: chartreuse;
}

.section {
  border: 1px solid black;
  padding: 1em 1em 3em 1em;
  display: flex;
}

.waitList {
  padding: 2% 25% 0 25%;
  width: 50%;
}

#delete-email-button {
  margin: 0 5em 0 0;
  background-color: IndianRed;
  float: right;
}

#stop-button {
 background-color: IndianRed;
}

#tracker-wrapper {
  display: flex;
  justify-content: space-around;
}

#user-email {
  width: 17em;
}

#user-name {
  text-align: center;
}